In [3]:
import pandas as pd
import os 

import matplotlib.pyplot as plt
plt.rcParams['font.family'] ='Malgun Gothic'
plt.rcParams['axes.unicode_minus'] =False

import seaborn as sns
import numpy as np

from pytimekr import pytimekr

import warnings
warnings.filterwarnings(action='ignore')

In [4]:
database = pd.read_csv('./data/train_preprocessed.csv')
database['tm'] = pd.to_datetime(database['tm'])
database.head()

,tm,year,season,month,day,hh24,weekday,week_name,sin_time,cos_time,num,stn,nph_ta,nph_hm,CDH,THI,nph_ws_10m,nph_rn_60m,nph_ta_chi,elec
0,2020-01-01 01:00:00,2020,3,1,1,1,2,0,0.258819,0.965926,13615,140,-8.5,74.5,-34.5,1.538975,0.9,0.0,-5.8,99.63
1,2020-01-01 01:00:00,2020,3,1,1,1,2,0,0.258819,0.965926,18235,565,-8.8,25.6,-34.8,7.943264,1.9,0.0,-4.6,103.49
2,2020-01-01 01:00:00,2020,3,1,1,1,2,0,0.258819,0.965926,18234,565,-8.8,25.6,-34.8,7.943264,1.9,0.0,-4.6,104.43
3,2020-01-01 01:00:00,2020,3,1,1,1,2,0,0.258819,0.965926,18233,512,-6.3,31.3,-32.3,9.196031,2.5,0.0,-7.8,106.29
4,2020-01-01 01:00:00,2020,3,1,1,1,2,0,0.258819,0.965926,11272,941,2.4,68.0,-23.6,19.353600,1.2,0.0,-5.3,102.45

### 그룹화 

격자 종류가 너무 많다. 온도와 습도, 풍속을 측정한 값이 같으면 같은 지역이라고 할 수 있다. 

온도와 습도, 풍속이 같은 값끼리 그룹화를 해보자 


**분석결과** 

같은 AWS 지점번호가 같은 격저넘버의 기상데이터가 같다.

## TrainSet과 ValidationSet 나누기 

Testset에는 elec가 없다. 모델 성능 평가를 위해 trainset과 validationset을 나누자

In [6]:
database['tm'].min(), database['tm'].max()
# train데이터는 2020부터 2023년 1월 1일까지 데이터가 있다.
# test데이터는 2023년 1월 2일부터 1년간의 데이터가 있다.
# 즉 1년의 elec를 예측해야한다.
# 따라서 train데이터에서 2023년, 1년을 검증데이터로 나누자

(Timestamp('2020-01-01 01:00:00'), Timestamp('2023-01-01 00:00:00'))